<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="./css/stylesheet.css">
            <title>About</title>
            <link rel="icon" href="/img/favicon.png">
        </head>    
        <body>
            <div class="main-content">
                {{>header}}
                <p>This site was created by Muhammad Saad. It uses data from MapBox.com</p>
                <img class="portrait" src="/img/saad.jpg">    
            </div>
            
            {{>footer}}
        </body>
    </html>    
    