<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="./css/stylesheet.css">
            <title>Help</title>
            <link rel="icon" href="/img/favicon.png">
        </head>    
        <body>
            <div class="main-content">
                {{>header}}
            
            <p>{{helpText}}</p>
    
            </div>
            {{>footer}}
        </body>
    </html>    
    